## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
* List popular languages for Data Science
* List of commonly used libraries used by Data Scientists
* List of Data Science Tools
* Arithmetic Expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. NumPy
4. Matplotlib

| Data Science Tools |
|----|
| Apache Spark |
| TensorFlow |
| Apache Hadoop |
| Excel | 
| Power BI |

### Below are a few examples of evaluating arithmetic expressions in Python
x=5+4,
y=x*3,
z=y-10

In [10]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [12]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Dan Joseph Rudio